---
layout: layout.njk
title: Homepage
permalink: /
---

<section class="hero is-fullheight hero-bg">
  <div class="hero-body has-text-centered">
    <div>
      <h1 class="title has-text-black">Whether Weather.</h1>
      <h2 class="subtitle has-text-black">Check the weather in your favourite cities.</h2>

      <a class="button is-dark mt-4" href="/dashboard/">Go to Dashboard</a>
    </div>
  </div>
</section>
