---
layout: layout.njk
title: Preferences
permalink: /preferences/index.html
---

<section class="section">
  <div class="container">
    <h1 class="title">User Preferences</h1>
    <p class="subtitle">Choose your favourite cities</p>

    <div class="box">
      <h2 class="title is-5">Favourite Cities</h2>

      <div class="columns is-multiline">
        <div class="column is-one-third">
          <label class="checkbox">
            <input type="checkbox" name="favourites" value="London">
            London
          </label>
        </div>

        <div class="column is-one-third">
          <label class="checkbox">
            <input type="checkbox" name="favourites" value="Paris">
            Paris
          </label>
        </div>

        <div class="column is-one-third">
          <label class="checkbox">
            <input type="checkbox" name="favourites" value="Berlin">
            Berlin
          </label>
        </div>

        <div class="column is-one-third">
          <label class="checkbox">
            <input type="checkbox" name="favourites" value="Rome">
            Rome
          </label>
        </div>

        <div class="column is-one-third">
          <label class="checkbox">
            <input type="checkbox" name="favourites" value="Athens">
            Athens
          </label>
        </div>

        <div class="column is-one-third">
          <label class="checkbox">
            <input type="checkbox" name="favourites" value="Dublin">
            Dublin
          </label>
        </div>
      </div>

      <div class="buttons mt-4">
        <button class="button is-link" type="button">Save Preferences</button>
        <button class="button is-light" type="reset">Reset</button>
      </div>
    </div>
  </div>
</section>
