<div class="card">
  <div class="card-image">
    <figure class="image is-3by4">
      <img src="{{ city.image }}" alt="{{ city.name }}">
    </figure>
  </div>

  <div class="card-content">
    <p class="title is-4">{{ city.name }}</p>
    <p class="subtitle is-6">{{ city.temp }}</p>
  </div>

  <footer class="card-footer">
    <a class="card-footer-item" href="{{ city.path }}">View city</a>
  </footer>
</div>
