<nav class="navbar">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <img src="/images/logo.png" alt="logo">
    </a>

    <a role="button"
       class="navbar-burger has-background-black"
       data-target="navbarMenu"
       aria-label="menu"
       aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <a href="/dashboard/" class="navbar-item">Dashboard</a>
      <a href="/preferences/" class="navbar-item">Preferences</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Cities</a>

        <div class="navbar-dropdown">
          <a href="/city/london/" class="navbar-item">London</a>
          <a href="/city/paris/" class="navbar-item">Paris</a>
          <a href="/city/berlin/" class="navbar-item">Berlin</a>
          <a href="/city/rome/" class="navbar-item">Rome</a>
          <a href="/city/athens/" class="navbar-item">Athens</a>
          <a href="/city/dublin/" class="navbar-item">Dublin</a>
        </div>
      </div>
    </div>
  </div>
</nav>
